{:dependencies [[re-view "0.4.6"]
                [appliedscience/js-interop "0.2.4"]
                ;[thi.ng/geom "0.0.908"]
                ]
 :source-paths ["src"]
 :nrepl        {:port 8703}
 :builds       {:bootstrap {:target     :bootstrap
                            :output-dir "docs/faber/js/bootstrap"
                            :entries    [faber.user]
                            :exclude    #{cljs.js}}
                :browser   {:target           :browser
                            :output-dir       "docs/faber/js"
                            :asset-path       "/js"
                            :compiler-options {:optimizations :simple}
                            :modules          {:base {:entries [faber.core]}}
                            :devtools         {:http-root  "docs/faber"
                                               :http-port  8702
                                               :after-load faber.core/render}}}}